/* Estilos generales */
body {
  background-color: #f5f5f5;
  margin: 0;
  font-family: Arial, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.dark  {
  background-color: #1e1e1e;
}

.dark .mt-5 {
  margin-top: 2rem;
}

.dark h4 {
  color: #ffffff;
}

.dark .list-group {
  background-color: #1e1e1e;
  border-radius: 5px;
}

.dark .list-group-item {
  background-color: #242424;
  border: 1px solid #333;
  color: #e0e0e0;
}

.dark .d-flex {
  display: flex;
  align-items: center;
}

.dark .fas.fa-user-circle {
  color: #bbb;
}

.dark {
  color: #ffffff;
}


/* Estilos para el contenedor principal */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Estilos para las filas */
.row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

/* Estilos para el contenedor de búsqueda */
